*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: var(0.85rem);
  line-height: 1.8;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conference-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px;
  max-width: 600px;
}

.conference-info {
  display: flex;
  flex-direction: column;
}

.date-time-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.date {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.time,
.location {
  font-size: 14px;
  color: #666;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.subtitle {
  font-size: 20px;
  font-style: italic;
  color: #666;
  margin: 0 0 10px 0;
}

.presenter {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
