*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: red solid; */
}

html {
    font-family: 'Roboto Slab', serif;
    /* font-size: var(0.85rem); */
    /* line-height: 1.8; */
}

body {
    background-color: #f4f4f4;
    /* color: #3b4551; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* place-content: center; */
    font-size: 14px;
}

/*============== Navigation content================= */
.logo img {
    /* aspect-ratio: ; */
    width: 100%;
    /* size: ; */
    height: auto;
    /* width: 1rem; */
}

.logo {
    width: 5rem;
    /* margin: auto 0; */
}

a,
ul {
    text-decoration: none;
    list-style: none;
    color: black;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* to make the nav bar stick to the top of the page on scroll ++++++++++ */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 30px 0px;
    padding: 1rem;
}

ul {
    display: flex;
    gap: 2rem;
    /* margin: 0rem 2rem; */
    /* font-weight: 700; */
}

/*========= End of navigation content ============*/


header {
    display: flex;
    place-content: center;

    /* padding: 2rem; */
    height: 100vh;
    color: indigo;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;


    background: linear-gradient(
    to right,
    #f4f4f4 0%,
    #f4f4f4 50%,
    indigo 50%,
    indigo 100%
  );

    /* backdrop-filter: blur(40px); */
}
.header-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    width: 50%;
}

.header-logo {
    font-size: 3rem;
}
.hero-img img{
    /* display: block; */
    /* aspect-ratio: 1 / 1; */
    /* border-radius: 100%; */
    /* width: 100%; */
    /* height: auto; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 30px 0px; */
    min-width: 20rem;
    max-width: 40rem;
}

.hero-img {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    margin: auto;
    overflow: hidden;
    background-color: indigo;

    /* background-image: url(images/Plus-Symbol-Vector-PNG-Cutout.png); */
    background-size: 2rem;
    /* filter: hue-rotate(deg) */
    /* backdrop-filter: ; */

}

.cta-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.btn-soft {
    border-radius: 0.5rem;
    padding: .5rem 1.5rem;
    font-weight: 500;
    background-color: rebeccapurple;
    width: fit-content;
    height: fit-content;
    color: white;
}



/*
.qucc-logo {
    width: 5rem;
    border-radius: 100%;
    margin: 1rem;
    transition: 2s;
}

.qucc-logo:hover {
    transform: rotate(400rad);
}

.student img {
    display: block;
    border-radius: 100rem;
    transition: 1s;
}

.student {
    margin: auto;
    height: fit-content;
}

.btn-blue,
.btn-grey:hover,
.btn-load:hover {
    background-color: cornflowerblue;
    color: white;
    border: solid cornflowerblue;
}

.btn-grey {
    color: #8594ab;
    border: solid #8594ab;
}

.btn-load,
.btn-blue:hover {
    color: white;
    background-color: #8594ab;
    border-color: #8594ab;
    align-self: center;
}

.tag {
    display: block;
    color: #8594ab;
    background-color: #e5ecf3;
    width: fit-content;
    padding: .3rem .7rem;
    font-weight: 700;
    font-size: .7rem;
    border-radius: .2rem;
}

.tag:hover {
    color: rgba(229, 236, 243, 255);
    background-color: rgb(133, 148, 171, 255);
}

h4 a:hover {
    text-decoration: underline 2px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem;
}

.activities {
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 1rem;
}

.card-qucc-link:hover,
footer a:hover,
header a:hover {
    color: #6495ed;
}

.card p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    grid-area: par;
}

.card-header {
    grid-area: hdr;
}

.qucc-icon img {
    width: 3rem;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin: auto 1rem;
    border-radius: 100%;
}

.card {
    display: grid;
    grid-template-columns: 33% repeat(auto-fill, minmax(1rem, 100%));
    grid-template-areas: "pic tag" "pic hdr" "pic par" "pic ftr";
    row-gap: .3rem;
    column-gap: .9rem;
    overflow: hidden;
    width: clamp(20rem, 80vw, 40rem);
    padding: .9rem;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.102) 0px 7px 30px 0px;
    border-radius: .5rem;
    transition: ease-out .3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: rgba(100, 100, 111, 0.302) 0px 10px 20px 0px;
}

.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-area: pic;
    place-self: center;
}

.card-footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.qucc-icon {
    grid-area: 1 / 1 / 3 / 2;
}

.qucc-icon img:hover {
    border: solid rgba(133, 148, 171, 255) 4px;
}

.card-qucc-link {
    font-weight: 600;
    width: fit-content;
    grid-area: 1 / 2 / 2 / 6;
}

.time {
    grid-area: 2 / 2 / 3 / 6;
}

footer {
    background-color: white;
}

.resources {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    gap: clamp(1.5rem, 10vw, 10rem);
}

.footer-email {
    display: flex;
    flex-direction: column;
    text-align: center;
    place-items: center;
    width: 20rem;
    height: fit-content;
}

.copyright {
    text-align: center;
    padding: .8rem;
    border-top: #c5c5c5 solid 1px;
}

.copyright a,
.footer-email a {
    color: #0000ff;
}

@media (max-width:767px) {

    .student,
    .card p,
    aside,
    .qucc-icon {
        display: none;
    }

    .nav-bar {
        flex-direction: column;
        place-items: center;
    }

    .activity-header {
        text-align: center;
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
    }

    .resources {
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
    }
}

@media (min-width: 768px) {

    .student,
    aside {
        display: none;
    }

    .nav-bar {
        justify-content: space-between;
        align-items: center;
    }

    .activity-header {
        border-left: solid #c5c5c5 4px;
        padding-left: 1rem;
    }
}

@media (min-width:1024px) {

    .student,
    aside {
        display: block;
    }

    header {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column: 1 / 3;
    }

    .header-btn {
        justify-content: left;
    }

    .nav-bar {
        grid-area: 1 / 1 / 2 / 6;
    }

    .header-content {
        text-align: left;
        grid-area: 2 / 2 / 5 / 4;
    }

    .student {
        grid-area: 2 / 4 / 5 / 5;
    }

    .student img {
        width: 15rem;
    }

    body {
        display: grid;
        grid-template-columns: 2.5fr 1fr;
    }

    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 1.5rem;
    }

    .small-card {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        font-weight: 500;
        background-color: white;
        border-radius: .7em;
        width: clamp(15rem, 75%, 20rem);
        padding: 2rem;
        align-items: center;
        box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 20px 0px;
    }

    aside .tag {
        width: auto;
    }

    .tags-container {
        display: grid;
        gap: .3rem;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    }

    aside svg {
        aspect-ratio: 1 / 1;
        padding: .5rem;
        height: 2.2rem;
        margin: .2rem;
        background-color: #f4f4f4;
        border-radius: 100%;
    }

    aside a[title*="discord"] {
        fill: rgb(88, 101, 242);
    }

    aside a[title*="twitter"] {
        fill: rgb(29, 161, 242);
    }

    aside a[title*="facebook"] {
        fill: rgb(66, 103, 178);
    }

    aside svg:hover {
        background-color: #8594ab;
        fill: #e5ecf3;
        transform: scale(1.3);
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

    }

    input[type=email] {
        outline: none;
        border-style: none;
        font-weight: 550;
        padding: 1rem;
        background-color: #e5ecf3;
        height: 3rem;
        border-radius: .5rem;
    }

    input[type=email]::placeholder {
        color: #b7c3d5;
    }

    input[type="email"]:focus {
        border-style: none;
        border: solid #8594ab;
    }

    body>footer {
        grid-column: 1 / 3;
    }
}