/*============== Navigation content================= */
.logo img {
    width: 100%;
    height: auto;
    /* width: 1rem; */
}

.logo {
    width: 5rem;
    /* margin: auto 0; */
}

.nav-bar a,
.nav-bar ul {
    text-decoration: none;
    list-style: none;
    color: black;
    color: #ff8dee;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* to make the nav bar stick to the top of the page on scroll ++++++++++ */
    position: -webkit-sticky;
    /* position: sticky; */
    top: 0;
    /* z-index: 5; T o make sure that the nav bar is always the top most element */
    /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 30px 0px;
    padding: 1rem;
    text-align: center;
}

.nav-bar ul {
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: .3rem;
    margin: 0rem 1.5rem;
    font-weight: 500;
}

.nav-bar ul:not(.nav-link) { /* This is for the vertical lines between the nav links */
    color: #ff8dee;
}

.nav-link {
    transition: ease-in .1s;
}

.nav-link:hover  {
    color: #ff8dee;
}

.nav-bar #username {
    /* display: block; */
    font-weight: 700;
    color: rgb(106, 34, 183);
}

/*========= End of navigation content ============*/
